
/* sidebar stuff */
.sidebar {
  position: absolute;
  background-color: black;
  min-height: 100%;
  width: 0px;
  z-index: 2000;
  transition: 0.15s;
}

/* post stuff */
.post-content {
  max-width: 500px;
  
  max-height: 6em;
  min-height: 6em; /* this ensures no funninness when i have to contract to 6 later */

  line-height: 1em; /* this is an important line because it means that we always size the box by a whole number of lines. It has a side-effect that low-hanging letters like g can be partially cut off before expansion - expansion adds an extra line's worth of space to the box, thus solving that problem. You should subtly blur out the bottom of the div, to obscure this problem*/
  overflow: hidden;
  position: relative;

}

.fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1em;
}

.expandContractButton {
  margin: 0.2em
}